/**
 * Page contact
 *
 * @uses .Page-contact
 */
.Page-contact {

	/**
	 * Content
	 */
	&__content {
		@extend %text-xs-center;
		@include font( 18, 24 );

		color: the_color( orange, mostly-desaturated-dark );

		em {
			@extend %font-bold;
		}
	}


	/**
	 * Addresses
	 *
	 * @uses .Page-contact__addresses
	 */
	&__addresses {
		@extend %text-xs-center;
		@include margin( top 80px bottom 80px );

		color: the_color( cyan, very-dark-02 );

		h3 {
			@extend %font-title, %uppercase;
			@include font( 21.97, 21.95 );

			color: the_color( green, lime );
		}

		p {
			@extend %margin-xs-bottom-0;
			@include font( 17.97, 21.97 );
		}

		.row {
			@include from( 'md' ) {
				display: flex; flex-wrap: wrap;
			}
		}

		[class^=col-] {

			@include from( 'md' ) {
				flex-direction: column;
				display: flex;
				width: calc( #{ percentage( 4 / 12 ) } - 1px );

				&:nth-child( 1 ) {
					&::after {
						@include absolute( top 0 left 100% bottom 0 );

						background: { color: the_color( green, lime ); }
						width: 2px;
						content: '';
					}
				}
				&:nth-child( 2 ) {
					&::after {
						@include absolute( top 0 left 100% bottom 0 );

						background: { color: the_color( green, lime ); }
						width: 2px;
						content: '';
					}
				}
			}
			// &:nth-child( 3 ) {}
		}
	}

	&__address {
		@extend %text-xs-center;
		@include padding( top $grid-gutter-width bottom $grid-gutter-width );

		img {
			@include size( 30px, 35px );

			object-fit: contain;
			object-position: center;
		}
	}
}