{#
	/**
	 * /partials/page-title
	 *
	 * @package WordPress
	 * @subpackage rsdncschsll
	 * @author Jérémy Levron <jeremyjeremy@19h47.fr> (http://19h47.fr)
	 */
#}

<div class="Site-container Page-title{{ class ? ' ' ~ class : '' }}">
	<div class="row">
		<div class="col-xs-12 col-md-10 col-md-offset-1 text-xs-center">
			<h1>{{- title -}}</h1>
		</div>
	</div>
</div>
