{#
	/**
	 * /partials/page-illustration
	 *
	 * @package WordPress
	 * @subpackage rsdncschsll
	 * @author Jérémy Levron levronjeremy@19h47.fr
	 */
#}

<div class="Site-container">
	<div class="row">
		<div class="col-xs-12">
			<img class="img-full" src="{{ theme.link }}/static/img/svg/illustration.svg" width="1005" height="452" alt="" />
		</div>
	</div>
</div>
