{#
	/**
	 * /views/footer
	 *
	 * @package WordPress
	 * @subpackage 19h47
	 * @author Jérémy Levron levronjeremy@19h47.fr
	 */

#}
			{# <footer class="Site-footer"></footer>	 #}

		</main>

		{{ wp_footer }}
		{% include 'components/guid.twig' %}

	</body>
</html>