{#

Footer

@package ResidencesChoisille
@author Jérémy Levron <jeremyjeremy@19h47.fr> (http://19h47.fr)

#}
			{# <footer class="Site-footer"></footer>	 #}

		</main>

		{{ wp_footer }}
		{% include 'components/guid.html.twig' %}

	</body>
</html>
