/**
 * Front page
 *
 * @uses .Front-page
 */
.Front-page {
	min-height: 100%;

	/**
	 * Contact
	 *
	 * @uses .Front-page-contact
	 */
	&-contact {
		$this: &;
		@extend %display-xs-block, %display-md-inline-block;

		color: the_color( orange, mostly-desaturated-dark );

		&.is-on-the-right {
			transform: translate3d( 1px, 0, 0 );
		}

		&.is-on-the-left {
			transform: translate3d( -1px, 0, 0 );
		}
		
		@at-root 
			.panel-left--is-open &.is-on-the-left,
			.panel-right--is-open &.is-on-the-right,
			&:hover {
			color: the_color( white );

			.icon {
				background: { color: the_color( orange, mostly-desaturated-dark ); }
				border: {
					color: the_color( orange, mostly-desaturated-dark );
				}
			}

			.label {
				@extend %font-bold;
				@include autoAlpha( 1 );

				background: { color: the_color( orange, mostly-desaturated-dark ); }
				border: {
					color: the_color( orange, mostly-desaturated-dark );
				}
				// width: calc( 100% - 50px );

				@include from( 'md' ) { width: auto; }
			}
		}


		/**
		 * Link
		 *
		 * @uses .Front-page-contact .icon
		 */
		.icon {
			@extend 
				%display-xs-inline-block, 
				%vertical-align-middle, 
				%Transition-ease;
			
			@include size( 50px );
			@include padding( top 12px right 12px bottom 12px left 12px );
			@include margin( 
				bottom $grid-gutter-width / 2 
			);
			
			border: {
				color: currentColor;
				style: solid;
				width: 1px;
			}

			@at-root #{ $this }.is-on-the-right .icon {
				transform: translate3d( -1px, 0, 0 );
			}

			@at-root #{ $this }.is-on-the-left .icon {
				transform: translate3d( 1px, 0, 0 );
			}

			@include from( 'md' ) {
				@include margin( bottom 0 );
			}


			svg {
				max-width: 100%;
				max-height: 100%;
				fill: currentColor;
			}
		}


		/**
		 * Label
		 *
		 * @uses .Front-page-contact .label
		 */
		.label {
			@extend 
				%display-xs-inline-block, 
				%font-bold, 
				%uppercase, 
				%vertical-align-middle, 
				%Transition-ease;

			@include size( calc( 100% - 50px ), 50px );
			@include font( 14, 50 );
			@include margin( 
				top 0 /* $grid-gutter-width / 2 */
				bottom $grid-gutter-width / 2 
			);
			@include padding( right 20px left 20px );
			@include autoAlpha( 0 );
			
			border: {
				color: currentColor;
				style: solid;
				width: 1px;
			}
			
			@include from( 'md' ) {
				@include margin( top 0 bottom 0 );
				
				width: auto;
			}


			@at-root .panel-left--is-open .is-on-the-left .label {
				@include autoAlpha( 1 );
			}

			@at-root .panel-right--is-open .is-on-the-right .label {
				@include autoAlpha( 1 );
			}
		}
	}


	/**
	 * Links
	 *
	 * @uses .Front-page-contact
	 */
	&-links {
		color: the_color( cyan, very-dark );

		a {
			@extend 
				%font-title, 
				%font-bold, 
				%uppercase, 
				%display-xs-block, 
				%display-md-inline-block, 
				%Transition-ease;

			@include font( 24, 34, 50 );
			@include margin( 
				top $grid-gutter-width / 2 
				bottom $grid-gutter-width / 2 
			);
			@include padding( top 10px right 20px bottom 10px left 20px );
			
			border: {
				color: the_color( green, light-grayish-lime );
				style: solid;
				width: 1px;
			}
			color: the_color( green, light-grayish-lime );
			width: 100%;
			
			&:first-child { @include margin( left 0 ); }
			&:last-child { @include margin( right 0 ); }

			&:hover {
				background: { color: the_color( green, light-grayish-lime ); }
				color: currentColor;
			}

			@include from( 'md' ) {
				@include margin( top 0 right 7.5px bottom 0 left 7.5px );

				width: auto;
			}
		}
	}


	/**
	 * Decor
	 *
	 * @uses .Front-page-decor
	 */
	&-decor {
		@extend %Position-absolute-center, %overflow-hidden;

		z-index: 1;

		svg {
			width: 100%;
			height: 100%;

			.panel {
				@extend %Transition-ease;
				
				fill: transparent;

				&.right { transform: translate3d( #{ $grid-gutter-width }, 0, 0 ); }
				&.left { transform: translate3d( -#{ $grid-gutter-width }, 0, 0 ); }

				@at-root .panel-right--is-open &.right {
					fill: #0A322D;
					transform: translate3d( 0, 0, 0 );
				}

				@at-root .panel-left--is-open &.left {
					fill: #0A322D;
					transform: translate3d( 0, 0, 0 );
				}
			}
		}
	}


	/**
	 * Baseline
	 *
	 * @uses .Front-page-baseline
	 */
	&-baseline {
		@extend %font-style-italic;
		@include font( 23.96, 33.95 );
		@include margin( top $grid-gutter-width bottom $grid-gutter-width * 2 );

		color: the_color( orange, mostly-desaturated-dark );
	}


	/**
	 * Content
	 *
	 * @uses .Front-page-content
	 */
	&-content { 
		// @extend %Pointer-events-none;
		@include margin( top 100px bottom 100px ); 

		@at-root 
			.panel-left--is-open &,
			.panel-right--is-open & {
			// @extend %Pointer-events-auto;	
		}
	}
}