/**
 * Page
 *
 * @uses .Page
 */
.Page {

	/**
	 * Header
	 *
	 * @uses .Page-header
	 */
	&-header {
		@extend %font-bold, %font-title, %uppercase;

		background: { color: the_color( cyan, very-dark ); }
		color: the_color( green, lime );
		font-size: 18.17px;
		line-height: normal;

		@include from( 'md' ) {

			height: 65px;

			[class^=col-xs] {
				&:nth-child( 1 ) {

					a {
						border: {
							right: {
								color: the_color( black );
								style: solid;
								width: 1px;
							}
						}
					}
				}
				&:nth-child( 2 ) {
					a {
						border: {
							left: {
								color: the_color( black );
								style: solid;
								width: 1px;
							}
						}
					}
				}
			}
		}

		a {
			@extend %Transition-ease, %display-xs-block;

			line-height: 65px;

			&.is-active,
			&:hover {
				color: the_color( orange, mostly-desaturated-dark );
			}
		}
	}


	/**
	 * Menu
	 *
	 * @uses .Page-menu
	 */
	&-menu {

		/**
		 * Logo
		 *
		 * @uses .Page-menu__logo
		 */
		&__logo {
			@extend %display-xs-inline-block, %vertical-align-middle;
			@include margin( top 25px bottom 25px );

			max-width: 100%;

			@include from( 'md' ) {
				width: 100%;
			}
		}


		/**
		 * Items
		 *
		 * @uses .Page-menu__items
		 */
		&__items {
			@extend %list-unstyled, %text-xs-right;
			@include margin( top 25px bottom 25px );
		}


		/**
		 * Item
		 *
		 * @uses .Page-menu__item
		 */
		&__item {
			@extend %display-xs-none, %display-md-inline-block, %font-bold, %uppercase, %margin-xs-y-0;
			@include font( 14, 16 );
			@include margin( right 8px left 8px );

			color: the_color( green, lime );

			&:last-child { @include margin( right 0 ); }
			&:first-child { @include margin( left 0 ); }

			a {
				@extend %Transition-ease, %display-xs-block;
				@include padding( top 16px right 5px bottom 16px left 5px );

				&.is-active,
				&:hover {
					color: the_color( cyan, very-dark );
				}
			}


			/**
			 * Contact
			 *
			 * @uses .Page-menu__item--nous-contacter
			 */
			&--nous-contacter {
				@extend %display-xs-inline-block, %text-xs-center;

				color: the_color( cyan, very-dark );

				border: {
					color: the_color( orange, mostly-desaturated-dark );
					style: solid;
					width: 1px;
				}

				width: 100%;

				@include at( 'xs' ) {
					margin: 0;
				}

				@include from( 'sm' ) {
					width: auto;
				}

				a { @include padding( right 20px left 20px ); }

				a.is-active,
				a:hover {
					background: { color: the_color( orange, mostly-desaturated-dark ); }
					color: the_color( white );
				}
			}
		}
	}


	/**
	 * Title
	 *
	 * @uses .Page-title
	 */
	&-title {
		@extend %font-extrablack, %uppercase;

		h1 {
			@include font( 20, 42, 100 );
			@include margin( top 85px bottom 10px );

			@include from( 'md' ) {
				@include font( 34, 42, 100 );
			}
		}
	}


	/**
	 * Footer
	 *
	 * @uses .Page-footer
	 */
	&-footer {
		@include margin( top 85px );

		background: { color: the_color( cyan, very-dark-02 ); }
		color: the_color( white );

		@at-root .page-id-6 & { @include margin( top 0 ); }
		@at-root .page-id-12 & { @include margin( top 0 ); }

		/**
		 * Copyright
		 *
		 * @uses .Page-footer-copyright
		 */
		&-copyright {
			@include margin( top 0 bottom 0 );

			font-size: 14px;
			line-height: 75px;

			&:hover { text-decoration: underline; }
		}


		&-menu {
			&__items {
				@extend %list-unstyled, %margin-xs-top-0, %margin-md-bottom-0;
				@include margin( bottom $grid-gutter-width );

				line-height: 75px;

				@include from( 'md' ) {
					height: 75px;
				}
			}
			&__item {
				@extend %margin-xs-y-0, %display-xs-block, %display-md-inline-block, %uppercase, %font-bold;
				@include font( 16, 34 );
				@include margin( right 0 left 0 );

				&:last-child { @include margin( right 0 ); }
				&:first-child { @include margin( left 0 ); }

				@include from( 'md' ) {
					@include margin( right $grid-gutter-width left $grid-gutter-width );
				}

				a.is-active,
				a:hover {
					text-decoration: underline;
				}
			}
		}
	}


	/**
	 * Content
	 *
	 * @uses .Page-content
	 */
	&-content {
		h2 {
			@extend %font-style-italic;
			@include font( 18, 24 );

			color: the_color( orange, mostly-desaturated-dark );
		}

		em {
			@extend %font-bold;
		}

		a {
			&:hover {
				text-decoration: underline;
			}
		}
	}
}
