/**
 * Site
 *
 * @uses .Site-{ property }
 */
.Site {

	/**
	 * Site container
	 *
	 * The fluid container of the grid
	 *
	 * @uses .Site-container
	 */
	&-container {
		@extend %position-xs-relative;
		@include padding(
			right $grid-gutter-width
			left $grid-gutter-width
		);
		@include margin( top 0 right auto bottom 0 left auto );

		max-width: $container-width;

		@at-root .Front-page & { z-index: 2; }
	}


	/**
	 * Wrapper
	 *
	 * @uses .Site-wrapper
	 */
	&-wrapper{

		@at-root .Front-page & {
			@extend %position-xs-relative;

			min-height: 100vh;
			background: {
				image: url( '#{ map-get( $directories, jpg ) }front-page-background.jpg' );
				position: center;
				size: cover;
			}
		}
	}

	/**
	 * Description
	 *
	 * @uses .Site-description
	 */
	&-description {}


	/**
	 * Site header
	 *
	 * @uses .Site-header
	 */
	&-header {
		@extend %position-xs-relative, %text-xs-right;

		z-index: 2;

		@at-root .Front-page & {
			@include padding( top 50px right 50px left 50px );

			// max-width: 1100px;
		}
	}


	/**
	 * Site footer
	 *
	 * @uses .Site-footer
	 */
	&-footer {}
}