// –––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––
// 	Shame 
//
// 	Here goes all the CSS declarations, hacks and things we are not proud of.
//
// 	@see https://csswizardry.com/2013/04/shame-css/
// –––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––